body{
    background-color: rgb(241, 250, 250);
}

p{
    color: lightpink;
    font-family: courier;
    font-size: 160%;
}

h1{
    color: skyblue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 300%;

}

h2{
    color: lightgrey;
    font-family: 'Times New Roman', Times, serif;
    font-size: 160%;
    text-align: center;
    border: solid 1px powderblue;
    border-radius: 25px;
    background-image: url("https://i.pinimg.com/originals/4f/39/10/4f39103da156fb7e479abd6355932e88.jpg");
}

#Content p{
    color: lightgreen;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 160%;
    background-color: rgb(252, 251, 229);
}

#Content img{ 
    width:50px;height:50px;
    margin: 10px;
}

.imagecontainer {
    position: relative;
    text-align: center;
}

.text{
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    font-size: 18px;
    transform: translate(-50%, -50%);
}

#Moreimages img.Na{
    margin: 20px;
    height: 200px; 
    width: 200px;
}

#Moreimages p{
    border-style: dotted;
    color: lightgreen;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 160%;
    background-color: rgb(252, 251, 229);
}

#Footer{
    float: right;  
}

#Footer p3{
    border-style: dotted;
    color: darkblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 160%;
}